* {
  box-sizing: border-box;
  font-family: 'Arial, sans-serif';
  margin: 0;
  padding: 0;
}

html {
  /* me permite deslizar cuando hago clic en los links del menu */
  scroll-behavior: smooth;
}

.contenedor-header {
  background: #0c0c0c;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  justify-content: center;
}

#logo1 img {
  margin-top: 40px;
  border: px solid#fff;
  display: block;
  width: 7.5%;
  margin: auto;
  border-radius: 80%;
  /* border-radius: 100%; este codigo es para el borde de la foto aparezca en circulo */
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/*MAIN*/

/*FIN DE MAIN*/

/*INICIO DE CABECERA*/
#listNav {
  width: 100%;
  height: 100px;
  padding: 10px 90px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #fff;
  position: static;
  text-align: center;
}

#listNav #logo {
  padding: 22px 20px;
  height: 100px;
  float: left;
}

#listNav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
}

#listNav ul li a {
  line-height: 80px;
  color: #fff;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.listNav ul li a:hover {
  background: #F64B3C;
  border-radius: 6px;
}

/*FN DE CABECERA*/
#empresa {
  text-align: center;
  background-color: #f8f8f8;
  padding: 20px;
}

#empresa h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-size: 48px;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
  padding: 20px 0;
  color: #7A7A7A;
}

#empresa p {
  font: 18px;
  line-height: 22px;
  margin-bottom: 20px;
  font-family: 0.01px;
  font-family: "Helvetica Neue", sans-serif;
}

/* Fondo */

#productos {
  grid-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contenedor {
  margin: 10px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.contenedor img {
  width: 100%;
  height: auto;
  /* vertical-align: middle; */
  display: block;
}

.contenedor h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Helvetica Neue", sans-serif;
  padding: 20px 0;
  color: #7A7A7A;
  font-weight: normal;
  color: #fff;
}

.contenedor p {
  margin-bottom: 5px;
  font: 18px;
  line-height: 22px;
  margin-bottom: 20px;
  font-family: 0.01px;
  font-family: "Helvetica Neue", sans-serif;
}

#productos img {
  width: 100%;
  display: block;
  border-radius: 5%;
}
.container  h2{
text-align: center;
color: #7A7A7A;
}
.container  p{
  margin-bottom: 40px;
  text-align: center;
  color: #7A7A7A;

  }

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#cardValidation {
  
  display: flex;
  justify-content: center;
  align-items: center;
  

}

#cardValidation article {
  background-color: #f7fde0;
  padding: 20px;
  border-radius: 5px;
  height: 400px;
  width: 500px;
  margin: 10px;
  justify-content: center;
}

#cardValidation-article {
  height: 20px;
  width: 40px;

}

#cardValidation .form-container {
  max-width: 200px;
  margin: 0 auto;
}

#cardValidation input[type="text"],
#cardValidation input[type="button"] {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #555;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#cardValidation input[type="text"]::placeholder {
  color: #999;
}

#cardValidation .control2 {
  background-color: #f7d7e8;
}

#cardValidation .name {
  background-color: #f3e2f7;
}

#cardValidation .mes,
#cardValidation .año {
  background-color: #e9f6fb;
}

#cardValidation .digts {
  background-color: #f2e9cf;
}

div {
  text-align: right;
}

div a {
  display: inline-block;
  padding: 10px 20px;
  background-color: hsl(340, 98%, 51%);
  color: #0c0b0b;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}